@import "../../utilities/_variables.scss";

.emissions {
    background: $bgColorPrimary;
    width: 100vw;
    height: fit-content;
    padding: 8em 9.57em 4em;

    @media screen and (max-width: $mediaTablet) {
        padding: 3em 2em;
    }

    @media screen and (max-width: $mediaMobile) {
        padding: 2em 1em;
    }

    h2 {
        margin: 0;

        @media screen and (max-width: $mediaMobile) {
            font-size: 1.75rem;
            line-height: 2.25rem;
        }
    }

    h3 {
        @media screen and (max-width: $mediaMobile) {
            font-size: 1.5rem;
            line-height: 2rem;
        }
    }

    img {
        display: block;
        margin: 4em auto;

        @media screen and (max-width: $mediaMobile) {
            max-width: 200px;
            margin: 2em auto;
        }
    }

    .emissions__large-text {
        font-size: 4rem;
        line-height: 4.75rem;
        font-weight: 300;
        margin-bottom: 0;
        text-align: center;

        @media screen and (max-width: $mediaMobile) {
            font-size: 2rem;
            line-height: 2.5rem;
        }
    }

    .link-containers {
        @include link-containers;
        margin-top: 3.875em;

        @media screen and (max-width: $mediaMobile) {
            margin-top: 1.5em;
        }        
    }

    .link-container {
        @include link-container;
    }

    .link-container__single {
        @include link-container;
        margin: 2em auto;
    }

    p {
        font-size: 1.5rem;
        line-height: 2rem;
        text-align: center;
 

        @media screen and (max-width: $mediaMobile) {
            font-size: 1rem;
            line-height: 1.5rem;
        }
    }

    .chart {
        @include chart;
    }
}