/* Hero Slider */

.heroSlider {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.slide { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateX(-50%);
    transition: all 0.5s ease;
}

.slideImg {
    width: 100%;
    height: 100%;
}
  
.slide.current {
    opacity: 1;
    transform: translateX(0);
}

.logo {
    position: absolute;
    top: 3.8em;
    left: 50%;
    transform: translateX(-50%);
}

.slideDesc {
    position: absolute;
    top: 3.6em;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55%;
    color: #fff;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: -0.5px;
    line-height: 119%;
    text-align: center;
}

.slideNav {
    position: absolute;
    top: 29em;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 1em;
}

.slideNavLine {
    width: 28px;
    border: 4px solid #fff;
    transition: all 600ms ease-out;
}

.slideNavLine.active {
    transform-origin: bottom; 
    transform: scaleY(2);
    border: 4px solid #E54647;
}

/* Menu */

.menuIcon, .menu {
    position: absolute;
    top: 3.8em;
    right: 3.8em;
    z-index: 100;
    background: #fff;
    cursor: pointer;
    transition: all 300ms ease-out;
}

.menuIcon {
    border-radius: 50%;
    padding: 0.4em;
    display: flex;
    align-items: center;
}

.menu {
    height: max-content;
    border-radius: 18px;
    padding: 2.14em 3.8em 0 2.5em;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.2);
}

.menu p {
    font-size: 0.7rem;
    font-weight: 500;
    color: #79747E;
    margin: 0;
}

.menuItems {
    display: flex;
    flex-direction: column;
    margin: 2.2em 0 3.4em 0;
}

.menu a {
    color: #1863AF;
    font-size: 1.5rem;
    line-height: 1.5;
    text-decoration: none;
}

.closeIcon {
    position: absolute;
    top: 1.1em;
    right: 1.1em;
    font-size: 1.5rem;
    color: #1863AF;
}

/* Hero Impact */

.impactContainer {
    position: absolute;
    top: 31.5em;
    left: 50%;
    transform: translateX(-50%);
    width: 88%;
    background: #F8F8F8;
    padding: 2em 10em;
    border-radius: 16px;
}

.impactItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.impactItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .6em;
    cursor: pointer;
    letter-spacing: -0.5px;
}

.impactCount {
    font-size: 2.2rem;
    line-height: 100%;
    font-weight: 300;
    color: #1863AF;
}

.impactItem > p {
    font-size: 1.5rem;
    line-height: 100%;
    color: #1863AF;
    margin: 0;
}

.infoIcon {
    margin-bottom: 2em;
}

.infoIcon:hover {
    color: #1863AF;
}

.dataLinkContainer {
    width: max-content;
    max-width: 100%;
    margin: 0 auto;
    padding: 0.05em 1em;
    background: #fff;
    border-radius: 8px;
}

.dataLinkContainer p {
    text-align: center;
    color: #79747E;
    font-size: 0.688rem;
    line-height: 16px;
    font-weight: 500;
}

.dataLinkContainer p a {
    text-decoration: none;
    color: #1863AF;
}

/* Hero Impact Modal */

.impactOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255,255,255,0.7); 
  }

.impactModal {
    position: absolute;
    top: 12em;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: 50%;
    background: #fff;
    border-radius: 8px;
    padding: 3.4em 5.9em 2.4em 4em;
    box-shadow: 0px 8px 42px 6px rgba(24, 99, 175, 0.15), 
        0px 4px 23px rgba(24, 99, 175, 0.15);
}

.impactModal h2 {
    font-size: 2.5rem;
    font-weight: 400;
    color: #1863AF;
    margin-top: 0;
    margin-bottom: .5em;
}

.modalInfo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1em;
    margin: 0;
}

.closeIcon {
    background: #dae8f4;
    padding: 5px;
    border-radius: 50%;
    transition: all 500ms ease-out;
    cursor: pointer;
}

.impactModal h3 {
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0;
}

.impactModal p {
    text-align: left;
    line-height: 1.5;
    margin-top: 0;
}

.closeBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    max-width: 102px;
    background: #1863AF;
    color: #fff;
    font-size: 0.875rem;
    font-weight: 500;
    border: none;
    border-radius: 100px;
    padding: 10px 24px 10px 16px;
    margin: 3em auto 0;
    cursor: pointer;
}

.closeBtn > span {
    color: #fff;
    font-size: 0.875rem;
    font-weight: 500;

}

/* Media queries */

@media screen and (min-width: 1480px) {
    .slideDesc {
        top: 30%;
    }

    .slideNav {
        top: 60%;
    }

    .impactContainer {
        top: 69%
    }

    .impactItem {
        gap: 1em;
    }
}

@media screen and (max-width: 1024px) {
    .slideDesc {
        width: 70%;
        font-size: 3.5rem;
    }

    .slideNav {
        top: 24em;
    }

    .slideNavLine {
        height: 6px;
        border: 3px solid #fff;
    }    

    .slideNavLine.active {
        border: 3px solid #E54647;
    }

    .menu {
        padding: 2em 3.8em 0 2em;
    }

    .impactContainer {
        padding: 2em 7em; 
        top: 25em;
    }

    .impactIcon {
        max-width: 3.5em;
    }

    .impactCount {
        font-size: 2rem;
    }

    .impactItem > p {
        font-size: 1.3rem;
    }

    .menuItems {
        margin: 2em 0 3em 0;
    }

    .menu a {
        font-size: 1.3rem;
    }

    .impactModal {
        width: 70%;
    }
}

@media screen and (max-width: 840px) {
    .slideDesc {
        width: 80%;
        font-size: 2.5rem;
    }

    .slideNav {
        top: 20em;
    }

    .slideNavLine {
        height: 4px;
        border: 2px solid #fff;
    }    

    .slideNavLine.active {
        border: 2px solid #E54647;
    }

    .menuIcon {
        padding: .2em;
    }

    .closeIcon {
        top: 1.3em;
        right: 1.3em;
        font-size: 1.2rem;
    }

    .menuItems {
        margin: 1em 0;
    }

    .menu a {
        font-size: 1.1rem;
    }

    .impactContainer {
        top: 22.5em;
        padding: 1em 3em;
    }

    .impactIcon {
        max-width: 2.5em;
    }

    .impactCount {
        font-size: 1.5rem;
    }

    .impactItem > p {
        font-size: 1rem;
    }

    .infoIcon {
        margin-bottom: .8em;
    }

    .impactModal {
        top: 8em;
        width: 80%;
        padding: 3em 4em 2em 3em; 
    }

    .impactModal h2 { 
        font-size: 2rem;
    }

    .closeBtn {
        margin: 2em auto 0;
    }

}

@media screen and (max-width: 570px) {
    .slide img {
        height: 80vh;
        max-height: 600px;
        object-fit: cover;
    }

    .slideDesc {
        top: 6em;
        font-size: 2em;
    }

    .slideNav {
        top: 23em;
    }

    .slideNavLine {
        width: 1em;
    }

    .logo {
        top: 1em;
    }

    .menuIcon, .menu {
        top: 1.5em;
        right: 1.5em;
    }

    .impactContainer {
        top: 25em;
    }

    .impactItems {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .impactModal {
        top: 5em;
        width: 80%;
        padding: 3em 3em 2em 2em;
    }

    .impactModal h2 {
        font-size: 2rem;
    }

    .modalInfo img {
        width: 50px;
        height: 50px;     
    }

    .modalInfo p {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 420px) {
    .slideDesc {
        top: 9em;
        font-size: 1.8em;
    }

    .slideNav {
        top: 24em;
    }

    .slideNavLine {
        width: 1em;
    }

    .logo {
        width: 20%;
    }

    .menuIcon, .menu {
        top: 1.2em;
        right: 1.2em;
    }

    .menuIcon span {
        font-size: 1rem;
    }

    .impactContainer {
        top: 25em;
    }

    .impactCount {
        font-size: 1.2rem;
    }

    .impactItem p {
        font-size: .8rem;
    }

    .infoIcon {
        font-size: 1.1rem;
    }

    .impactModal {
        width: 90%;
        padding: 3em 3em 2em 2em;
    }

    .impactModal h2 {
        font-size: 1.5rem;
    }

    .impactModal h3 {
        font-size: 1.2rem;
    }

    .modalInfo p {
        font-size: .8rem;
    }
}