@import "../../utilities/_variables.scss";

.hero-section {
    height: fit-content;
    margin-bottom: 2.4375em;

    @media screen and (max-width: 1024px) {
        margin-bottom: 8em;
    }

    @media (max-width: $mediaMobile) {
        margin-bottom: 23.2em;
    }
}

.hero-section__container {
    height: 100%;;
    width: 100vw;

    position: relative;
    top: 0; 
    left: 0;
}

/* Hero Slider */

.hero-slider {
    width: 100vw;
    max-height: 100vh;
    overflow: hidden;

    &__slide {
        z-index: -1;
    
        .hero-slider__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: brightness(72%);

            @media screen and (min-width: $mediaDesktop) {
                height: 100vh;
            }

            @media screen and (min-width: 1024px) and (min-height: 1366px) {
                height: 50vh;
            }

            @media screen and (max-width: $mediaMobile) {
                object-fit: cover;
                height: 100vh;
            }
        }
    
        h2 {
            position: absolute;
            top: 3.6em;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 55%;
            color: #fff;
            font-size: 4rem;
            line-height: 119%;


            @media screen and (min-width: $mediaMaxWidth) {
                top: 35%;
            }

            @media screen and ( min-width: $mediaMobile) 
            and (max-width: $mediaDesktop) {
                top: 15em;
                font-size: 3.5rem;
                width: 65%;
                top: 38%;
                font-size: 2.5rem;
            }

            @media screen and (width: 600px) and (height: 1024px),
            (width: 600px) and (height: 960px) {
                top: 4.5em;
            }

            @media screen and (max-width: $mediaMobile) {
                top: 40%;
                font-size: 2em;
            }
        }
    }

    .swiper-pagination {
        @include swiper-pagination;
        width: 100%;
        z-index: 100;
        bottom: 20.625em;

        @media screen and (max-width: 1024px) {
            top: 60%;
        }

        @media screen and (width: 600px) and (height: 1024px),
        (width: 600px) and (height: 960px) {
            top: 75%;
        }

        @media (max-width: $mediaMobile) {
            top: 75%;
        }

        &-bullet {
            @include swiper-pagination-bullet;
        }

        &-bullet-active {
            @include swiper-pagination-bullet-active;
        }
    }

    &__logo {
        position: absolute;
        top: 3.8em;
        left: 50%;
        transform: translateX(-50%);

        @media (max-width: $mediaMobileSmall) {
            top: 2em;
            max-width: 75px;
        }
    }
}

/* Menu */

.menu-icon, .menu {
    position: absolute;
    right: 5em;
    z-index: 100;
    background: #fff;
    cursor: pointer;
    transition: all 300ms ease-out;
    position: fixed;
}

.menu-icon {
    top: 3.5625em;
    border-radius: 50%;
    padding: 0.4em;
    display: flex;
    align-items: center;
    border: 1px solid $smallTextColor;

    .icon-menu-icon:before { 
        content: '\e80e'; 
        color: $primaryTextColor;
    }

    &:hover {
        background: $primaryTextColor;
        color: #fff;
        transform: scale(1.2);
    }

    @media (max-width: $mediaTablet) {
        top: 3.8em;
        right: 3em;
    }

    @media (max-width: $mediaMobileSmall) {
        top: 2em;
        right: 1.56em;
    }
}

.menu {
    top: 2.8125em;
    right: 4.0625em;
    height: max-content;
    border-radius: 18px;
    padding: 1.875em 3.375em 3em 2.1875em;
    // padding: 2.14em 3.8em 0 2.5em;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.2);

    @media (max-width: $mediaDesktop) {
        padding: 2em 3.8em 0 2em;
    }

    @media (max-width: $mediaTablet) {
        top: 3em;
        right: 2em;
    }

    @media (max-width: $mediaMobileSmall) {
        top: 1.5em;
        right: 1em;
    }

    p {
        font-size: 0.7rem;
        line-height: 1rem;
        font-weight: 500;
        color: #79747E;
        margin-top: 0;
        margin-bottom: 1.9375em;
    }

    &__items {
        display: flex;
        flex-direction: column;

        @media (max-width: $mediaDesktop) {
            margin: 2em 0 3em 0;
        }

        @media (max-width: $mediaTablet) {
            margin: 1em 0;
        }

        .menu__link {
            color: $primaryTextColor;
            font-size: 1.5rem;
            line-height: 2.75rem;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }

            @media (max-width: $mediaTablet) {
                font-size: 1.3rem;
            }
        }

        .active {
            color: #000 !important;
        }
    }

    .icon-close:before { content: '\e804'; }

    &__close {
        position: absolute;
        top: 1em;
        right: 1em;
        font-size: 1.5rem;
        color: $primaryTextColor;

        &:hover {
            color: #000000;
            transform: scale(1.2);
        }

        @media (max-width: $mediaMobileSmall) {
            top: .8em;
            right: .8em;
        }
    }
}

/* Hero Impact */

.impact-container {
    width: 88%;
    max-height: fit-content;
    padding: 3.25em 10em 2em;
    background: $bgColorPrimary;
    border-radius: 16px;
    z-index: 100;

    position: absolute;
    bottom: -4.8125em;
    left: 50%;
    transform: translateX(-50%);

    @media screen and (max-width: 1024px) {
        top: 65%;
    }

    @media screen and (width: 600px) and (height: 1024px),
    (width: 600px) and (height: 960px) {
        top: 80%;
    }

    @media (max-width: $mediaDesktop) {
        padding: 2.4375em 7em; 
    }

    @media (max-width: $mediaTablet) {
        padding: 2.4375em 3em;
    }

    @media (max-width: $mediaMobile) {
        top: 78%;
    }
}

.impact-items {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $mediaMobile) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .impact-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
        cursor: pointer;
        letter-spacing: -0.5px;
        transition: all 0.5s ease-in-out;

        .impact-item__icon {

            @media (max-width: $mediaDesktop) {
                font-size: 3.5rem;
            }

            @media (max-width: $mediaTablet) {
                font-size: 2.5em;
            }
        }

        &:hover {
            @include hover-effect;
        }

        .icon-people-icon:before {
            content: "\e80f";
            color: #d24246;
            font-size: 4rem;
        }

        .icon-house-icon:before {
            content: "\e80a";
            color: #d24246;
            font-size: 4rem;
        }

        .icon-bricks-icon:before {
            content: "\e802";
            color: #d24246;
            font-size: 4rem;
        }

        .icon-co2-icon:before {
            content: "\e805";
            color: #d24246;
            font-size: 4rem;
        }
        
        &__count {
            font-size: 3rem;
            line-height: 76px;
            font-weight: 300;
            color: $primaryTextColor;

            @media (max-width: $mediaDesktop) {
                font-size: 2.5rem;
            }

            @media (max-width: $mediaTablet) {
                font-size: 2rem;
                line-height: 50px;
            }

            @media (max-width: $mediaMobileSmall) {
                font-size: 1.5rem;
            }
        }

        p {
            font-size: 1.5rem;
            line-height: 1.5rem;
            color: $primaryTextColor;
            margin: 0;

            @media (max-width: $mediaDesktop) {
                font-size: 1.3rem;
            }

            @media (max-width: $mediaTablet) {
                font-size: 1rem;
            }

            @media (max-width: $mediaMobileSmall) {
                font-size: .8rem;
            }
        }

        .icon-info-circled-alt:before {
            content: "\f086";
        }

        .icon-info-circled-alt {
            font-size: 1.25rem;
            margin-top: 1em;
            margin-bottom: 2.4em;

            &:hover {
                color: $primaryTextColor;
            }

            @media (max-width: $mediaTablet) {
                margin-bottom: .8em;
            }

            @media (max-width: $mediaMobileSmall) {
                font-size: 1.1rem;
            }
        }
    }
}

.impact-data__link {
    width: max-content;
    max-width: 100%;
    margin: 0 auto;
    padding: 0.05em 1em;
    background: #fff;
    border-radius: 8px;

    p {
        text-align: center;
        color: #79747E;
        font-size: 0.688rem;
        line-height: 1rem;
        font-weight: 500;

        span {
            text-decoration: none;
            color: $primaryTextColor;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

/* Hero Impact Modal */

.modal-overlay {
    @include modal;

    .impact-measure {
        width: 70%;
        top: 25%;
    
        @media (max-width: $mediaDesktop) {
            top: 22em;
        }
    
        @media (max-width: $mediaTablet) {
            top: 20em;
        }
    
        @media (max-width: $mediaMobile) {
            top: 30em; 
        }
    
        @media (max-width: $mediaMobileSmall) {
            top: 34em;
        } 
    }
}