@import "../../utilities/_variables.scss";

.impact {
    background: $bgColorPrimary;
    padding: 8.0625em 0 4em;

    @media screen and (max-width: $mediaTablet) {
        padding: 5em 0 3em;
    }

    @media screen and (max-width: $mediaMobile) {
        padding: 4em 0 3em;
    }

    h2 {
        @media screen and (max-width: $mediaTablet) {
            width: 80%;
            margin: 0 auto;
        }

        @media screen and (max-width: $mediaMobile) {
            font-size: 1.75rem;
        }
    }

    p {
        text-align: center;

        @media screen and (max-width: $mediaTablet) {
            width: 80%;
            margin: 0 auto;
        }

        @media screen and (max-width: $mediaMobile) {
            font-size: 1rem;
        }
    }

    img {
        display: block;
        max-width: 363px;
        margin: 4em auto;

        @media screen and (max-width: $mediaMobile) {
            max-width: 303px;
            margin: 2em auto;
        }
    }

    .icon-info-circled-alt:before { 
        content: '\f086'; 
        font-size: 1.25rem;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    .icon-info-circled-alt:hover {
        color: $primaryTextColor;
        transform: scale(1.3);
    }

    span {
        color: $smallTextColor;
    }

    .large-text {
        @include large-text;

        @media screen and (max-width: $mediaTablet) {
            width: 80%;
            margin: 0 auto;
            font-size: 5.5rem;
        }

        @media screen and (max-width: $mediaMobile) {
            font-size: 4rem;
        }
    }

    .impact__count {
        color: #000;
    }

    .small-text {
        @include small-text;
    }

    .link-container {
        @include link-container;
        margin: 0 auto;

        @media screen and (max-width: $mediaTablet) {
            width: 80%;
        }
    }
}

.impact__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 6.0625em auto 3.9375em;
    width: 72%;
    gap: 2em;

    @media screen and (max-width: $mediaDesktop) {
        width: 90%;
    }

    @media screen and (max-width: $mediaTablet) {
        overflow-y: auto;
        justify-content: flex-start;
        gap: 1em;
        margin-right: 0;
        width: 90%;
    }

    @media screen and (max-width: $mediaMobile) {
        margin: 3.5em auto 2.5em;
    }

    .impact__card {
        @include flex-center;
        flex-direction: column;
        justify-content: flex-start;
        animation: fadeIn 4s;

        @keyframes fadeIn {
            0% {opacity:0;}
            100% {opacity:1;}
          }

        .impact__card--image {
            margin: 0;
            margin-bottom: 1.8125em;

            @media screen and (max-width: $mediaDesktop) {
                max-height: 137px;
            }
        }

        .impact__card--images {
            @include flex-center;
            max-height: 167px;
            margin-bottom: 1.8125em;

            @media screen and (max-width: $mediaDesktop) {
                justify-content: flex-start;
                margin-bottom: 0;
            }

            .impact__card--image-one {
                margin-right: -97px;

                @media screen and (max-width: $mediaDesktop) {
                    max-height: 127px;
                    margin-top: 1.8125em;
                }

                @media screen and (max-width: $mediaMobile) {
                    margin-bottom: 3.6250em;
                }
            }

            .impact__card--image-two {
                margin-left: 35px;

                @media screen and (max-width: $mediaDesktop) {
                    max-height: 137px;
                    margin-top: 1.8125em;
                }

                @media screen and (max-width: $mediaMobile) {
                    margin-bottom: 3.6250em;
                }
            }
        }
    

        h4 {
            font-size: 1.75rem;
            line-height: 2.25rem;
            font-weight: 400;
            margin: 0;
        }

        p {
            font-size: 1rem;
            line-height: 1.5rem;
            letter-spacing: 0.5px;
            margin: 0.25em 0 0.8em;
        }
    }
}