@import "../../utilities/_variables.scss";

.enterprises {
    width: 79vw;
    text-align: center;
    margin: 0 auto 8em;

    @media screen and (max-width: $mediaMobile) {
        margin-bottom: 3.19em;
        width: 90vw;
    }

    h2 {

        @media screen and (max-width: $mediaMobile) {
            font-size: 1.85rem;
            line-height: 2.25rem;
            margin: 0 1em;
        }
    }

    p {
        font-size: 1.5rem;
        line-height: 2rem;
        margin-bottom: 2.7em;

        @media screen and (max-width: $mediaMobile) {
            font-size: 1rem;
        }
    }
}

.percentage-line {
    @include percentage-line;
    margin: 0 auto 8em;
}

.percentage-line__container {
    @include percentage-line__container;
}