@import "../../utilities/_variables.scss";

.enterprises {
    width: 79vw;
    text-align: center;
    margin: 0 auto;
    padding-top: 7.94em;
    padding-bottom: 0;

    @media screen and (max-width: $mediaMobile) {
        width: 90vw;
    }

    h2 {
        margin: 0;

        @media screen and (max-width: $mediaMobile) {
            font-size: 1.85rem;
            line-height: 2.25rem;
            margin: 0 1em;
        }
    }

    p {
        font-size: 1.5rem;
        line-height: 2rem;

        @media screen and (max-width: $mediaMobile) {
            font-size: 1rem;
        }
    }
}

.percentage-line {
    @include percentage-line;
    margin: 0 auto;
}

.percentage-line__container {
    @include percentage-line__container;

    .icon-info-circled-alt:before { 
        content: '\f086'; 
    }
}