@import "../../utilities/_variables.scss";

.learn-more {
    background: $bgColorPrimary;
    padding: 8em 0 4em;

    @media screen and (max-width: $mediaMobile) {
        padding: 4em 0 3em;
    }

    h2 {
        margin: 0 1em 0.09375em;

        @media screen and (max-width: $mediaMobile) {
            font-size: 1.75rem;
        }
    }

    p {
        text-align: center;
        font-size: 1.375rem;
        line-height: 1.75rem;

        @media screen and (max-width: $mediaMobile) {
            font-size: 1rem;
            line-height: 1.5rem;
        }
    }

    .learn-more__docs {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, max-content));
        grid-template-rows: auto;
        justify-content: center;
        margin: 4em auto 0;
        align-items: baseline;
        gap: 4.25em;

        @media screen and (max-width: 1240px) {
            gap: 3em;
        }

        @media screen and (max-width: 1280px) {
            width: 90%;
        }

        @media screen and (max-width: 560px) {
            grid-template-columns: repeat(auto-fit, minmax(136px, max-content));
            margin: 2em auto 0;
        }

        .learn-more__doc {
            @include flex-center;
            flex-direction: column;
            animation: fadeIn 4s;
            flex: 1;

            img {
                border: 1px solid $greyColor;
                border-radius: 8px;
                width: 220px;
                height: 260px;
                margin-bottom: 1.875em;
    
                @media screen and (max-width: 1150px) {
                    width: 176px;
                    height: 208px;
                }
    
                @media screen and (max-width: 520px) {
                    width: 136px;
                    height: 178px;
                    margin-bottom: 1em;
                }
            }

            p {
                font-size: 1.375rem;
                line-height: 1.75rem;
                max-width: 220px;
                width: 100%;
                margin: 0;

                @media screen and (max-width: 880px) {
                    font-size: 1rem;
                    line-height: 1.4rem;
                    max-width: 130px;
                }
            }

            span {
                margin-top: 0.9em;
            }

            a {
                color: #000;
                text-decoration: none;
            }
        }
    }
}