@import "../../utilities/_variables.scss";

.houses-chart__container {
    background: $bgColorPrimary;
    width: 100vw;
    height: fit-content;
    padding: 8em 0 4.125em;

    @media screen and (max-width: $mediaMobile) {
        padding: 1.375em 1em;
    }

    span {
        @include flex-center;
        font-size: 4rem;
        color: #D24246;
        margin-bottom: 0.5em;

        @media screen and (max-width: $mediaMobile) {
            display: none;
        }
    }

    h2 {
        margin: 0;

        @media screen and (max-width: $mediaMobile) {
            font-size: 1.75rem;
            line-height: 2.25rem;
        }
    }

    p {
        font-size: 1.5rem;
        line-height: 2rem;
        text-align: center;

        @media screen and (max-width: $mediaMobile) {
            font-size: 1rem;
            line-height: 1.5rem;
        }
    }

    .houses-chart {
        position:relative;
        width: 80vw;
        height: 40vh;
        max-width: 1291px;
        margin: 0 auto 1.85em;
        overflow: auto;

        @media screen and (min-width: $mediaMaxWidth) {
            margin-bottom: 5em;
        }

        @media screen and (max-width: $mediaTablet) {
            width: 100%;
        }

        @media screen and (max-width: $mediaMobile) {
            margin: 0 1em;
            margin-left: 0;
            height: 50vh;
        }
    }
}