.partners {
    margin-top: 10em;
    text-align: center;
}

.partners h2 {
    color: #1863AF;
    font-size: 2.25rem;
}

.partnerLogos {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 0.3125em;
    max-width: 80%;
    margin: 2em auto;
}

.partnerLogo {
    background: #F8F8F8;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 137px;
    height: 114px;
    cursor: pointer;
}

.showMore {
    display: flex;
    gap: 0.5em;
}