@import "../../utilities/_variables.scss";

.partners {
    width: 100vw;
    padding: 4em 0 5em;
    text-align: center;
}

.partner__logos {
    @include flex-center;
    margin: 2em auto 0;
    padding: 0 1em 1em;
    max-width: 1131px;
    gap: 0.3125em;

    @media screen and (max-width: 1280px) {
        width: 90%;
    }

    @media screen and (max-width: 1085px) {
        width: 95%;
    }

    @media screen and (max-width: 1020px) {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow-y: auto;
        gap: 0.3125em;
        margin-right: 0;
    }

    .partner__logo,
    .partner__logo--dfat {
        @include flex-center;
        background: $bgColorPrimary;
        border-radius: 4px;
        width: 137px;
        height: 114px;

        img {
            max-width: 90%;
            max-height: 90%;

            @media screen and (max-width: 1020px) {
                width: 123px;
                height: 102px;
            }
        }

        @media screen and (max-width: 1280px) {
            width: 109px;
            height: 91px;
        }

        @media screen and (max-width: 1020px) {
            min-width: 137px;
            min-height: 114px;
        }

    }

    .partner__logo--dfat {
        width: 232px;

        img {

            @media screen and (max-width: 1020px) {
                width: 209px;
            }
        }

        @media screen and (max-width: 1280px) {
            width: 185px;
        }

        @media screen and (max-width: 1020px) {
            min-width: 232px;
        }
    }
    // .partner__show-more {
    //     display: flex;
    //     gap: 0.5em;

    //     .icon-plus-icon:before {
    //         content: "\e811";
    //     }

    //     .icon-plus-icon, p {
    //         color: $primaryTextColor;
    //         font-size: 0.875rem;
    //         font-weight: 500;
    //         letter-spacing: 0.1px;
    //     }
    // }
}