@import "../../utilities/_variables.scss";

.partners {
    width: 100vw;
    padding: 4em auto 6em;
    text-align: center;
}

.partner__logos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(114px, max-content));
    justify-content: center;
    padding: initial;
    margin: 2em auto 6em;
    padding: 0 1em;
    max-width: 1131px;
    gap: 0.3125em;
    column-gap: 1em;

    @media screen and (max-width: 1280px) {
        width: 90%;
        column-gap: 0.3125em;
    }

    @media screen and (max-width: 1085px) {
        width: 95%;
        column-gap: 0;
    }

    .partner__logo {
        @include flex-center;
        background: $bgColorPrimary;
        border-radius: 4px;
        cursor: pointer;
        width: 137px;
        height: 114px;

        @media screen and (max-width: 1280px) {
            width: 109px;
            height: 91px;
        }

        @media screen and (max-width: 1085px) {
            width: 106px;
            height: 86px;
        }
    }

    .partner__show-more {
        display: flex;
        gap: 0.5em;

        .icon-plus-icon:before {
            content: "\e811";
        }

        .icon-plus-icon, p {
            color: $primaryTextColor;
            font-size: 0.875rem;
            font-weight: 500;
            letter-spacing: 0.1px;
        }
    }
}