// Media break points
$mediaMaxWidth: 1480px;
$mediaDesktop: 1024px;
$mediaTablet: 840px;
$mediaMobile: 570px;
$mediaMobileSmall: 420px;

// Colors
$primaryTextColor: #1863AF;
$smallTextColor: #938F99;
$redColor: #E54647;
$bgColorPrimary: #F8F8F8;
$bgColorSecondary: #F6F4F5;
$greyColor: #DADADA;

// Mixins
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin large-text {
    color: #000;
    font-size: 8rem;
    font-weight: 200;
    line-height: 6.75rem;
    letter-spacing: -2.25px;
    margin: 0;
    text-align: center;

    @media screen and (max-width: $mediaMobile) {
        font-size: 4rem;
        line-height: 4rem;
    }
}

@mixin small-text {
    color: #79747E;
    font-size: 1.125rem;
    line-height: 1.5rem;
    margin-bottom: 5em;
    text-align: center;

    @media screen and (max-width: $mediaMobile) {
        margin-bottom: 3em;
    }

    span {
        vertical-align: middle;
        cursor: pointer;

        &:hover {
            color: $primaryTextColor;
        }
    }
}

@mixin swiper-pagination {
    max-width: fit-content;
    max-height: fit-content;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 1em;
    z-index: 1;
}

@mixin swiper-pagination-bullet {
    width: 28px;
    border-radius: 0;
    border: 4px solid #fff;
    opacity: 1;
    transition: all 600ms ease-out;
    cursor: pointer;

    @media (max-width: $mediaMobile) {
        height: 6px;
        border: 3px solid #fff;
    }
}

@mixin swiper-pagination-bullet-active {
    transform-origin: bottom; 
    transform: scaleY(2);
    border: 4px solid #E54647;

    @media (max-width: $mediaMobile) {
        border: 3px solid #E54647;
    }
}

@mixin link-containers {
    @include flex-center;
    gap: 0.625em;

    @media screen and (max-width: $mediaMobile) {
        flex-direction: column;
    }
}

@mixin link-container {
    background: #fff;
    padding: 0.375em 1em 0.375em 0.5em;
    border: 1px solid rgba(218, 218, 218, 0.63);
    border-radius: 8px;
    width: fit-content;

    a {
        @include flex-center;
        gap: 0.5em;
        text-decoration: none;
        color: $smallTextColor;
        font-size: 0.688rem;
        letter-spacing: 0.5px;

        span {
            font-size: 1.125rem;
        }

        &:hover {
            color: $primaryTextColor;
        }
    }
}

@mixin modal {
    @include flex-center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    background-color: rgba(255,255,255,0.7); 

    .modal__container {
        width: 80%;

        @media (max-width: $mediaMobileSmall) {
            top: 10%;
        }  
    }
    
    .modal__container, 
    .impact-measure {
        margin: auto;
        position: relative;
        height: fit-content;
        background: #fff;
        box-shadow: 0px 8px 42px 6px rgba(24, 99, 175, 0.15), 
            0px 4px 23px rgba(24, 99, 175, 0.15);
        border-radius: 8px;
        overflow: auto;
        padding: 3.4em 5.9em 2.4em 4em;
        margin-top: 10em;
        z-index: 100;
    
        @media (max-width: $mediaDesktop) {
            width: 70%;
        }
        
        @media (max-width: $mediaTablet) {
            width: 80%;
            padding: 3em 4em 2em 3em; 
        }
        
        @media (max-width: $mediaMobile) {
            padding: 3em 2em; 
        }
        
        @media (max-width: $mediaMobileSmall) {
            width: 90%;
        }
    
        h2 {
            font-size: 2.7rem;
            font-weight: 400;
            color: $primaryTextColor;
            margin-top: 0;
            margin-bottom: .5em;
            text-align: left;
    
            @media (max-width: $mediaTablet) {
                margin-top: .2em;
                font-size: 2rem;
            }
    
            @media (max-width: $mediaMobileSmall) {
                margin-top: .7em;
                font-size: 1.5rem;
            }
        }
    
        .modal__info {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: 1em;
            margin: 1em 0;
    
            @media (max-width: $mediaMobile) {
                flex-direction: column;
                align-items: center;
            }
    
            .icon-bricks-icon:before { content: '\e802'; }
            .icon-house-icon:before { content: '\e80a'; }
            .icon-co2-icon:before { content: '\e805'; }
            .icon-people-icon:before { content: '\e80f'; }
    
            .icon-bricks-icon:before,
            .icon-house-icon:before,
            .icon-co2-icon:before,
            .icon-people-icon:before { 
                font-size: 4rem;
                color: $redColor;
            }
    
            h3 {
                font-size: 1.4rem;
                font-weight: 400;
                margin: 0;
                text-align: left;
            }
            
            p {
                text-align: left;
                line-height: 1.5;
                margin-top: 0;
    
                @media (max-width: $mediaMobile) {
                    margin-bottom: 0;
                }
    
                @media (max-width: $mediaMobileSmall) {
                    font-size: .9rem;
                }
            }
        }
    
        .icon-close:before { 
            content: '\e804'; 
        }
    
        .close-icon {
            position: absolute;
            top: 1em;
            right: 1em;
            background: #dae8f4;
            padding: 5px;
            border-radius: 50%;
            transition: all 500ms ease-out;
            cursor: pointer;
    
            &:hover {
                background: $primaryTextColor;
                color: #fff;
            }
        }
    }
    
    .modal__close {
        @include flex-center;
        gap: 8px;
        max-width: 102px;
        background: $primaryTextColor;
        color: #fff;
        font-size: 0.875rem;
        font-weight: 500;
        border: none;
        border-radius: 100px;
        padding: 10px 24px 10px 16px;
        margin: 3em auto 0;
        cursor: pointer;
        position: relative;
    
        @media (max-width: $mediaTablet) {
            margin: 2em auto 0;
        }
        
        &:hover {
            -webkit-box-shadow: 2px 2px 10px 2px #000000; 
            box-shadow: 2px 2px 10px 2px #000000;
        }
    
        .icon-close {
            color: #fff;
            font-size: 0.875rem;
            font-weight: 500;
        }
    }
}

@mixin hover-effect {
    animation: liftUp 1s;;

    @keyframes liftUp {
        0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        }
    
        50%  {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
        }

        100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
    }
}

@mixin play-button {
    color: #fff;
    font-size: 5.25rem;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

@mixin image-with-text {
    position: relative;
    margin: 4em auto;

    @media screen and (max-width: $mediaMobile) {
        margin: 2em auto;
    }

    img {
        width: 100%;
        height: 100%;
    }

    .large-text {
        @include large-text;
        color: #fff;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;

        @media screen and (max-width: $mediaDesktop) {
            font-size: 6rem;
        }

        @media screen and (max-width: $mediaTablet) {
            font-size: 5rem;
            top: 38%;
        }

        @media screen and (max-width: $mediaMobile) {
            font-size: 4rem;
        }
    }

    .icon-info-circled-alt:before { 
        content: '\f086'; 
        color: #fff;
    }

    .info-icon:hover {
            color: $primaryTextColor;
    }

    .info {
        @include small-text;
        color: #fff;
        position: absolute;
        top: 57%;
        left: 50%;
        transform: translateX(-50%);

        @media screen and (max-width: 1240px) {
            top: 60%;
        }

        @media screen and (max-width: 910px) {
            top: 63%;
        }

        @media screen and (max-width: 620px) {
            top: 65%;
            font-size: 1rem;
        }
    }
}

@mixin percentage-line {
    width: 100%;   
  
    @media screen and (max-width: $mediaMobile) {
      margin-bottom: 3.188em;  
    }
  
    h4 {
      font-size: 1.5rem;
      line-height: 2rem;
      text-align: left;
      font-weight: 500;
      margin-bottom: 1em;
  
      @media screen and (max-width: $mediaMobile) {
          font-size: 1.125rem;
      }
    }
}

@mixin percentage-line__container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5em;
    margin: 0 auto;

    @media screen and (max-width: $mediaMobile) {
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
    }

    .percentage-line__part {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @media screen and (max-width: $mediaMobile) {
            margin-bottom: 1.1875em;
        }

        .percentage {
            height: 0.5em;
            border-radius: 6px;

            @media screen and (min-width: $mediaMobile) {
                width: 100%;
            }
        }

        .percentage__blue {
            background: $primaryTextColor;
            height: 0.5em;
            border-radius: 6px;

            @media screen and (max-width: $mediaMobile) {
                width: 100%;
            }
        }

        .percentage__red {
            background: $redColor;

            @media screen and (max-width: $mediaMobile) {
                width: 25%;
            }
        }

        .percentage__grey {
            background: #DADADA;

            @media screen and (max-width: $mediaMobile) {
                width: 10%;
            }
        }

        p {
            font-size: 1rem;
            margin-bottom: 0;
            margin-top: 0.5625em;
            visibility: hidden;
  
            @media screen and (max-width: $mediaMobile) {
                font-size: 0.875rem;
            }
  
            span {
                font-size: 1.25rem;
                vertical-align: middle;
                cursor: pointer;
  
                &:hover {
                    color: $primaryTextColor;
                }
            }
        }


        .percentage__text--blue {
            animation: FadeInBlue 1s linear forwards;
        }

        @keyframes FadeInBlue {
            0% {
                opacity: 0;
              }
            
            100% {
                visibility: visible;
                opacity: 1;
            }
        }

        .percentage__text--red {
            animation: FadeInRed 1s linear forwards;
            animation-delay: 1.5s;
        }

        @keyframes FadeInRed {
            0% {
                opacity: 0;
              }
            
            100% {
                visibility: visible;
                opacity: 1;
            }
        }

        .percentage__text--grey {
            animation: FadeInGrey 1s linear forwards;
            animation-delay: 2.5s;
        }

        @keyframes FadeInGrey {
            0% {
                opacity: 0;
              }
            
            100% {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    .wrapper__blue {
        width: 75%;

        @media screen and (max-width: $mediaMobile) {
            width: 100%;
        }

        .percentage__blue {
            animation: blueLine 1s linear forwards;
            animation-delay: 0;

            @media screen and (min-width: $mediaMobile) {
                @keyframes blueLine {
                    0% {
                        width: 0;
                      }
                    
                      100% {
                        width: 100%;
                      }
                }
            }
        }
    }

    .wrapper__red {
        width: 15%;

        @media screen and (max-width: $mediaMobile) {
            width: 100%;
        }

        .percentage__red,
        .percentage__blue--med {
            animation: redLine 1s linear forwards;
            animation-delay: 1s;
            animation-fill-mode: both;
      
            @media screen and (min-width: $mediaMobile) {
      
                @keyframes redLine {
                    0% {
                        width: 0;
                        color: #fff;
                      }
                    
                      100% {
                        width: 100%;
                        color: #000;
                      }
                }
            }
      
            @media screen and (max-width: $mediaMobile) {
                width: 100%;
      
                @keyframes redLine {
                    0% {
                        width: 0;
                      }
                    
                    100% {
                        width: 25%;
                    }
                }
            }
        }
    }

    .wrapper__grey {
        width: 10%;

        @media screen and (max-width: $mediaMobile) {
            width: 100%;
        }

        .percentage__grey,
        .percentage__blue--light {
            animation: greyLine 1s linear forwards;
            animation-delay: 2s;
            animation-fill-mode: both;
      
            @media screen and (min-width: $mediaMobile) {
                @keyframes greyLine {
                    0% {
                        width: 0;
                        color: #fff;
                      }
                    
                      100% {
                        width: 100%;
                        color: #000;
                      }
                }
            }
      
            @media screen and (max-width: $mediaMobile) {
                width: 100%;
      
                @keyframes greyLine {
                    0% {
                        width: 0;
                      }
                    
                    100% {
                        width: 10%;
                    }
                }
            }
        }
    }
}

@mixin animated-line__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    padding: 0;
    width: 100%;
    height: 0.5em;

    p {
        font-size: 3rem;
        margin: 0;
        opacity: 0;
        animation: fadeIn 1s forwards;

        @media screen and (max-width: $mediaMobile) {
            font-size: 2.375rem;
        }
    }

    .animated-line__number--one {
        color: $redColor;
    }

    .animated-line__number--two {
        color: $primaryTextColor;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
          }
        
          100% {
            opacity: 1;
          }
    }
    
    .animated-line__one {
        height: 0.5em;
        background: $redColor;
        border-radius: 6px;
        animation: lineOne 2s linear forwards;
    }
    
    @keyframes lineOne {
        0% {
            width: 0;
        }
    
        100% {
            width: 65vw;
        }
    }

    .animated-line__two {
        height: 0.5em;
        background: $primaryTextColor;
        border-radius: 6px;
        animation: lineTwo 2s linear forwards;
    }
    
    @keyframes lineTwo {
        0% {
            width: 0;
        }
    
        100% {
            width: 45vw;
        }
    }
}

@mixin chart {
    position:relative;
    max-width: 90vw;
    width: 1291px;
    height: 448px;
    margin: 0 auto;

    @media screen and (max-width: $mediaMobile) {
        margin: 0 1em;
        margin-left: 0;
        height: 50vh;
    }
}

@mixin circle-cards {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0 auto 2em;
    width: 75%;
    overflow-y: auto;
    padding-top: 4em;

    @media screen and (max-width: 1320px) {
        width: 90%;    
    }

    @media screen and (max-width: 940px) {
        justify-content: flex-start;
        gap: 1.31em;
        margin-right: 0;
        padding-bottom: 0.5em;
        width: 95%;

        .circle__card:last-child {
            margin-right: 2.5em;
        }
    }

    @media screen and (max-width: 590px) {
        margin-top: 3em;
        gap: 0.8em;

    }

    .circle__card {
        @include flex-center;
        flex-direction: column;
        gap: 0;
        flex: 1;
        text-align: center;
        transition: all 0.5s ease-in-out;
        cursor: pointer;

        &:hover {
            @include hover-effect;
        }

        .benefits__circle, img {
            display: grid;
            grid-template-columns: 1fr;
            width: 299px;
            height: 299px;


            @media screen and (max-width: 1024px) {
                width: 90%;
                height: 90%;
            }

            @media screen and (max-width: 620px) {
                width: 220px;
                height: 220px;
            }

            @media screen and (max-width: 550px) {
                width: 200px;
                height: 200px;
            }

            @media screen and (max-width: 500px) {
                width: 155px;
                height: 155px;
            }
        }

        .benefits__img {
            background-repeat: no-repeat;
            border-radius: 50%;
            grid-row-start: 1;
            grid-column-start: 1;
            width: 100%;
            height: 100%;
        }

        .benefits__chart {
            margin: -1px;
            grid-row-start: 1;
            grid-column-start: 1;
        }

        h4 {
            font-size: 1.75rem;
            font-weight: 400;
            line-height: 2.25rem;
            margin-bottom: 0;

            @media screen and (max-width: $mediaMobile) {
                font-size: 1.1rem;
                line-height: 1.5rem;
            }
        }

        p {
            font-size: 1rem;
            line-height: 1.5rem;
            margin-top: 0;
            text-align: center;
            width: 80%;

            @media screen and (max-width: $mediaMobile) {
                font-size: 0.875rem;
                line-height: 1.25rem;
            }
        }

        span {
            font-size: 1.25rem;
            color: $smallTextColor;
            cursor: pointer;
            transition: all 0.5 ease-in-out;

            &:hover {
                color: $primaryTextColor;
                transform: scale(1.2);
            }
        }
    }
}