@import "../../utilities/_variables.scss";

.created-jobs {
    width: 78vw;
    margin: 0 auto;
    padding: 8em 0;

    @media screen and (max-width: $mediaTablet) {
        width: 90vw;
        padding: 4em 2em;
    }

    @media screen and (max-width: $mediaMobile) {
        padding: 3em 0;
    }

    h2 {
        margin: 0;
    }

    .created-jobs__img {
        @include image-with-text;
    
        .icon-info-circled-alt:before { 
            content: '\f086'; 
            color: #fff;
        }

        .info-icon:hover {
                color: $primaryTextColor;
        }
    
        .info {
            @include small-text;
            color: #fff;
            position: absolute;
            top: 57%;
            left: 50%;
            transform: translateX(-50%);

            @media screen and (max-width: 1240px) {
                top: 60%;
            }

            @media screen and (max-width: 910px) {
                top: 63%;
            }

            @media screen and (max-width: 620px) {
                top: 70%;
                font-size: 0.8rem;
            }
        }
    }
}

.percentage-line {
    @include percentage-line;
    margin: 0 auto; 

    p {
        margin-top: 0.5em;
        margin-bottom: 1.5em;
    }

    .percentage-line__container {
        @include percentage-line__container;
    
        .percentage-line__part {
            p {
                line-height: 1.5rem;
            }
        }

        .percentage-line__one {
            width: 26%;
    
            @media screen and (max-width: $mediaMobile) {
                width: 100%;
            }
    
            .percentage__blue {
                animation: blueLine 1s linear forwards;
                animation-delay: 0;
    
                @media screen and (min-width: $mediaMobile) {
                    @keyframes blueLine {
                        0% {
                            width: 0;
                          }
                        
                          100% {
                            width: 26%;
                          }
                    }
                }
            }

            @media screen and (max-width: $mediaMobile) {
                width: 35%;
      
                @keyframes blueMed {
                    0% {
                        width: 0;
                      }
                    
                    100% {
                        width: 100%;
                    }
                }
            }
        }
    
        .percentage-line__two {
            width: 74%;
    
            @media screen and (max-width: $mediaMobile) {
                width: 100%;
            }
    
            .percentage__blue--med {
                animation: blueMed 1s linear forwards;
                animation-delay: 1s;
                animation-fill-mode: both;
          
                @media screen and (min-width: $mediaMobile) {
          
                    @keyframes blueMed {
                        0% {
                            width: 0;
                            color: #fff;
                          }
                        
                          100% {
                            width: 100%;
                            color: #000;
                          }
                    }
                }
          
                @media screen and (max-width: $mediaMobile) {
                    width: 100%;
          
                    @keyframes blueMed {
                        0% {
                            width: 0;
                          }
                        
                        100% {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    
    .percentage__blue--med {
        background: rgba(24, 99, 175, 0.6);
    }
}

.sectors {

    h3 {
        color: #000;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 2rem;
        text-align: left;
        margin-bottom: 1em;
        margin-top: 1.6em;
    }

    p {
        margin-top: 0.5em;
        font-size: 1rem;
        line-height: 1.5rem;

        &:last-of-type {
            margin-bottom: 0;
        }

        @media screen and (max-width: $mediaMobile) {
            line-height: 1rem;
        }
    }
}

.animated-line__container {
    @include animated-line__container;

    .animated-line__one {
        width: 50%;

        @media screen and (max-width: $mediaMobileSmall) {
            width: 40%;
            animation: lineOneMobile; 

            @keyframes lineOneMobile {
                0% {
                    width: 0;
                }
            
                100% {
                    width: 40%;
                }
            }
        }
    }

    .animated-line__two {
        width: 100%;
    }

    @keyframes lineOne {
        0% {
            width: 0;
        }
    
        100% {
            width: 50%;
        }
    }

    @keyframes lineTwo {
        0% {
            width: 0;
        }
    
        100% {
            width: 100%;
        }
    }

    .orange-line {
        background: #F15E2B;
    }

    .orange-text {
        color: #F15E2B;
    }

    .yellow-line {
        background: #F5A61D;
    }

    .yellow-text {
        color: #F5A61D;
    }
}