@import "../../utilities/_variables.scss";

.cost {
    width: 79vw;
    margin: 0 auto 7.94em;

    @media screen and (max-width: $mediaMobile) {
        width: 90vw;
    }

    h3 {
        font-size: 1.5rem;
        line-height: 2rem;

        @media screen and (max-width: $mediaMobile) {
            font-size: 1.125rem;
        }
    }

    img {
        margin-top: 1em;
        margin-bottom: 0.75em;

        @media screen and (max-width: $mediaMobile) {
            width: 100px;
        }
    }

    p {
        margin-top: 0.5em;
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

.animated-line__container {
    @include animated-line__container;
}