@import "../../utilities/_variables.scss";

.cost {
    width: 79vw;
    margin: 0 auto;

    @media screen and (max-width: $mediaMobile) {
        width: 90vw;
    }

    h3 {
        color: #000;
        font-size: 1.5rem;
        line-height: 2rem;
        margin: 0;
        text-align: left;

        @media screen and (max-width: $mediaMobile) {
            font-size: 1.125rem;
        }
    }

    img {
        margin-top: 1em;
        margin-bottom: 0.75em;

        @media screen and (max-width: $mediaMobile) {
            width: 100px;
        }
    }

    p {
        margin-top: 0.5em;
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

.animated-line__container {
    @include animated-line__container;

    .cost-line__one {
        height: 0.5em;
        background: $redColor;
        border-radius: 6px;
        animation: costOne 2s linear forwards;
        width: 65vw;
    }
    
    @keyframes costOne {
        0% {
            width: 0;
        }
    
        100% {
            width: 100%;
        }
    }

    .cost-line__two {
        height: 0.5em;
        background: $primaryTextColor;
        border-radius: 6px;
        animation: costTwo 2s linear forwards;
        width: 45vw;

        @media screen and (max-width: $mediaMobileSmall) {
            width: 35vw;
            animation: costTwoMobile; 

            @keyframes costTwoMobile {
                0% {
                    width: 0;
                }
            
                100% {
                    width: 35vw;
                }
            }
        }
    }
    
    @keyframes costTwo {
        0% {
            width: 0;
        }
    
        100% {
            width: 45vw;

            @media screen and (max-width: $mediaMobileSmall) {
                width: 35vw;
            }
        }
    }
}