@import "../../utilities/_variables.scss";

.modal-overlay {
    @include modal;

    .modal__container {
        width: 50%;
    }

    .modal__info--column {
        display: flex;
        flex-direction: column;

        p {
            margin-bottom: 0.5em;
        }

        p:last-of-type {
            margin: 0;
        }
        
        .modal__img {
            width: 100%;
            max-width: 900px;
            margin: 0 auto;
        }
    }
}