@import "../../utilities/_variables.scss";

.benefits {
    width: 100vw;

    h2 {
        color: $primaryTextColor;
        font-size: 2rem;
        line-height: 2.75rem;

        @media screen and (max-width: $mediaMobile) {
            font-size: 1.375rem;
            line-height: 1.75rem;
        }
    }
}

.benefits__container {
   @include circle-cards;
}

.link-containers {
    @include link-containers;

    .link-container {
        @include link-container;
    }
}