@import "../../utilities/_variables.scss";

.benefits {
    width: 100vw;
    padding: 4em 1em 4.0625em;

    @media screen and (max-width: $mediaMobile) {
        padding: 1.9375em 1em 3em;
    }

    h3 {
        color: $primaryTextColor;
        margin: 0;
    }
}

.benefits__container {
   @include circle-cards;
}

.link-containers {
    @include link-containers;

    .link-container {
        @include link-container;
    }
}