
.icon-airplane:before { content: '\e800'; } /* '' */
.icon-brick-icon:before { content: '\e801'; } /* '' */
.icon-bricks-icon:before { content: '\e802'; } /* '' */
.icon-checkmark:before { content: '\e803'; } /* '' */
.icon-close:before { content: '\e804'; } /* '' */
.icon-co2-icon:before { content: '\e805'; } /* '' */
.icon-down-arrow:before { content: '\e806'; } /* '' */
.icon-equals-icon:before { content: '\e807'; } /* '' */
.icon-filter-icon:before { content: '\e808'; } /* '' */
.icon-full-screen-icon:before { content: '\e809'; } /* '' */
.icon-house-icon:before { content: '\e80a'; } /* '' */
.icon-info-icon:before { content: '\e80b'; } /* '' */
.icon-left-button:before { content: '\e80c'; } /* '' */
.icon-link-icon:before { content: '\e80d'; } /* '' */
.icon-menu-icon:before { content: '\e80e'; } /* '' */
.icon-people-icon:before { content: '\e80f'; } /* '' */
.icon-play-button:before { content: '\e810'; } /* '' */
.icon-plus-icon:before { content: '\e811'; } /* '' */
.icon-right-arrow:before { content: '\e812'; } /* '' */
.icon-right-button:before { content: '\e813'; } /* '' */
.icon-eq:before { content: '\e814'; } /* '' */
.icon-equal-icon:before { content: '\e820'; } /* '' */
.icon-airplane-icon:before { content: '\e821'; } /* '' */
.icon-airplane-1:before { content: '\e822'; } /* '' */
.icon-info-circled-alt:before { content: '\f086'; } /* '' */
