@import "../../utilities/_variables.scss";

.technology {
    width: 100vw;
    text-align: center;
    padding-top: 8em;
    padding-bottom: 4.71em;
    margin-top: 0;

    @media screen and (max-width: $mediaMobile) {
        padding-top: 2.5em;
        padding-bottom: 1.875em;
    }

    h2 {
        margin: 0 1em;
    }

    .brick-technology__text {
        font-size: 1.5rem;
        line-height: 2rem;
        width: 55%;
        margin: 0.65625em auto 4em;

        @media screen and (max-width: $mediaDesktop) {
            width: 75%;
        }

        @media screen and (max-width: $mediaMobile) {
            font-size: 1rem;
            line-height: 1.5rem;
            margin-bottom: 2em;
        }

        .icon-info-circled-alt:before {
            content: "\f086";
        }

        span {
            color: $smallTextColor;
            font-size: 1.5rem;
            cursor: pointer;
            display: inline;
            vertical-align: middle;

            @media screen and (max-width: $mediaMobile) {
                font-size: 1rem;
            }

            &:hover {
                transform: scale(1.5);
                color: $primaryTextColor;
            }
        }
    }
}

.technology__formula {
    @include flex-center;
    flex-wrap: nowrap;
    gap: 1.188em;
    margin: 0 auto;
    width: 80vw;

    @media screen and (max-width: 980px) {
        width: 90vw;
    }

    @media screen and (max-width: $mediaMobile) {
        gap: 0.2em
    }

    .technology__formula--item {
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1.6fr 0.4fr; 
        background: $bgColorSecondary;
        border-radius: 12px;
        width: 216px;
        height: 218px;
        gap: 1.3em;

        @media screen and (max-width: $mediaMaxWidth) {
            width: 203px;
            height: 205px;
        }

        @media screen and (max-width: $mediaDesktop) {
            width: 188px;
            height: 190px;
        }

        @media screen and (max-width: 940px) {
            max-width: 146px;
            max-height: 172px;
        }

        @media screen and (max-width: $mediaTablet) {
            max-height: 152px;
            gap: 0;
        }

        @media screen and (max-width: 690px) {
            max-height: 132px;
        }

        @media screen and (max-width: $mediaMobile) {
            max-height: 102px;
            align-items: end;
        }

        img {
            margin: 0 auto;
            width: 70%;
            height: 70%;
            align-self: end;

            @media screen and (max-width: $mediaTablet) {
                align-self: end;
            }
        }

        p {
            font-size: 1.125rem;
            line-height: 1.5rem;
            margin: 0 0.5em 2.06em;
            align-self: start;

            @media screen and (max-width: $mediaDesktop) {
                font-size: 1rem;
                line-height: 1rem;
                min-height: 2rem;
                margin-bottom: 1em;
            }

            @media screen and (max-width: $mediaTablet) {
                font-size: 0.8rem;
            }

            @media screen and (max-width: $mediaMobile) {
                font-size: 0.7rem;
                margin-bottom: 0.5em;
            }

            @media screen and (max-width: $mediaMobileSmall) {
                font-size: 0.5rem;
            }
        }
    }

    .technology__formula--item:last-child {
        position: relative;

        span {
            font-size: 1.3rem;
            position: absolute;
            top: 0.75em;
            right: 0.8em;
            cursor: pointer;
            transition: all 0.5s ease-in-out;

            @media screen and (max-width: $mediaDesktop) {
                top: 0.6em;
                right: 0.6em;
            }

            @media screen and (max-width: $mediaTablet) {
                top: 0.5em;
                right: 0.5em;
                font-size: 0.875rem;
            }

            &:hover {
                transform: scale(1.5);
                color: $primaryTextColor;
            }
        }
    }

    .icon-plus-icon:before {
        content: "\e811";
    }

    .icon-equal-icon:before {
        content: "\e820";
        font-weight: 600;
    }

    span {
        @include flex-center;
        font-size: 1.85rem;
        line-height: 1.188rem;
        width: 1.188rem;
        color: $smallTextColor;

        @media screen and (max-width: 720px) {
            font-size: 1.5rem;
        }

        @media screen and (max-width: $mediaMobile) {
            font-size: 1rem;
        }
    }
}