@import "../../utilities/_variables.scss";

.fired-bricks {
    width: 78vw;
    margin: 0 auto;
    padding: 8em 0;

    @media screen and (max-width: $mediaMobile) {
        width: 100vw;
        padding: 3.8em 0;
    }

    h2 {
        @media screen and (max-width: $mediaMobile) {
            width: 80%;
            margin: 0 auto;
        }
    }

    .fired-bricks__video {
        width: 78vw;
        max-width: 1128px;
        margin: 4em auto 0;
        position: relative;
        @include flex-center;

        &:hover {
            cursor: pointer;
        }

        @media screen and (max-width: $mediaMobile) {
            margin-top: 2em;
            width: 90vw;
        }
    
        .fired-bricks__video--img {
            width: 100%;
            height: 100%;
            max-width: 1128px;
        }

        .icon-play-button:before { 
            content: '\e810'; 

            @media screen and (max-width: $mediaMobile) {
                font-size: 2.625rem;
            }
        }

        .icon-play-button {
            @include play-button;

            @media screen and (max-width: $mediaMobile) {
                top: 40%;
            }
        }
    
        .fired-bricks__video--player {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 100;
            width: 78vw;
            max-width: 100%;
        }
    }
}