@import "../../utilities/_variables.scss";

.fired-bricks {
    width: 78vw;
    margin: 0 auto;
    padding: 8em 0;

    @media screen and (max-width: $mediaMobile) {
        width: 100vw;
        padding: 3.8em 0;
    }

    h2 {
        margin: 0;

        @media screen and (max-width: $mediaMobile) {
            font-size: 1.75rem;
            line-height: 2.25rem;
            width: 80%;
            margin: 0 auto;
        }
    }

    .fired-bricks__video {
        width: 100%;
        position: relative;
        margin-top: 4em;
        @include flex-center;

        @media screen and (max-width: $mediaMobile) {
            margin-top: 2em;
        }
    
        .fired-bricks__video--img {
            width: 100%;
            height: 100%;
            max-width: 1128px;

            @media screen and (max-width: $mediaDesktop) {
                width: 90%;
            }
        }

        .icon-play-button:before { 
            content: '\e810'; 
            color: #fff;
            font-size: 5.25rem;

            @media screen and (max-width: $mediaMobile) {
                font-size: 2.625rem;
            }
        }
    
        .play-button {
            @include play-button;
        }
    
        .fired-bricks__video--player {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 100;
        }
    }
}