@import "../../utilities/_variables.scss";

.fired-bricks {
    width: 78vw;
    margin: 0 auto;
    padding: 8em 0;

    @media screen and (max-width: $mediaMobile) {
        width: 100vw;
        padding: 3.8em 0;
    }

    h2 {
        margin: 0;

        @media screen and (max-width: $mediaMobile) {
            font-size: 1.75rem;
            line-height: 2.25rem;
            width: 80%;
            margin: 0 auto;
        }
    }

    .fired-bricks__video {
        width: 100%;
        position: relative;
        margin-top: 4em;
    
        .fired-bricks__video--img {
            width: 100%;
            height: 100%;
        }
    
        .play-button {
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;
    
            @media screen and (max-width: $mediaMobile) {
                width: 2.625em;
                height: 2.625em;
            }
        }
    
        .fired-bricks__video--player {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 100;
        }
    }
}