@import "./utilities/_variables.scss";

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

h2 {
  color: $primaryTextColor;
  font-size: 3.563rem;
  font-weight: 400;
  letter-spacing: -0.25px;
  line-height: 4rem;
  text-align: center;
  margin: 0;

  @media screen and (max-width: $mediaMobile) {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
}

h3 {
  color: $primaryTextColor;
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 2.75rem;
  text-align: center;

  @media screen and (max-width: $mediaMobile) {
    font-size: 1.375rem;
    line-height: 1.75rem;
  } 
}

p {
  font-size: 1.5rem;
  line-height: 2rem;
}

span {
  color: $smallTextColor;
}

.icon-link-icon:before {
  content: "\e80d";
}

.icon-info-circled-alt:before {
  content: "\f086";

  &:hover {
    color: $primaryTextColor;
  }
}