@import "../../utilities/_variables.scss";

.video-slider {
    width: 78vw;
    margin: 0 auto;
    text-align: center;
    padding-top: 8em;
    padding-bottom: 7.125em;

    @media screen and (max-width: $mediaMobile) {
        width: 100vw;
        padding-top: 0;
        padding-bottom: 3.8em;
    }

    h2 {
        margin: 0 1em;
    }
}

.video-slider__swiper {
    margin-top: 4em;

    @media screen and (max-width: $mediaMobile) {
        margin-top: 2em;
    }

    .video__slide {
        position: relative;
        text-align: center;
        padding-bottom: 3em;
    
        h3 {
            position: absolute;
            bottom: 25%;
            color: #ffffff;
            margin: 0 3.2em;

            @media screen and (max-width: 1280px) {
                font-size: 2rem;
            }

            @media screen and (max-width: 1190px) {
                font-size: 1.7rem;
                width: 100%;
                margin: 0 auto;
                padding: 0 1em;
            }

            @media screen and (max-width: $mediaDesktop) {
                font-size: 1.3rem;
            }

            @media screen and (max-width: $mediaTablet) {
                display: none;
            }
        }
    
        p {
            position: absolute;
            bottom: 10%;
            left: 50%;
            transform: translateX(-50%);
            color: #ffffff;
            font-size: 1.375rem;
            line-height: 1.75rem;
            text-align: center;

            @media screen and (max-width: $mediaDesktop) {
                font-size: 1rem;
            }

            @media screen and (max-width: $mediaMobile) {
                display: none;
            }
        }
    
        .slide__img {
            width: 100%;
            height: 100%;
        }

        .icon-play-button:before { 
            content: '\e810'; 

            @media screen and (max-width: $mediaMobile) {
                font-size: 2.625rem;
            }
        }
    
        .icon-play-button {
            @include play-button;

            @media screen and (max-width: $mediaMobile) {
                top: 40%;
            }
        }
    
        &--player {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 100;
        }
    }

    &__pagination {
        @include swiper-pagination;
    }

    .swiper-pagination {

        &-bullet {
            @include swiper-pagination-bullet;
            border: 4px solid $greyColor;

            @media (max-width: $mediaMobile) {
                border: 3px solid $greyColor;
            }
        }
    
        &-bullet-active {
            @include swiper-pagination-bullet-active;
        }
    }
}