@import "../../utilities/_variables.scss";

.video-slider {
    width: 78vw;
    margin: 0 auto 10.5em;
    text-align: center;

    @media screen and (max-width: $mediaMobile) {
        width: 100vw;
        margin-bottom: 3.8em;
    }

    h2 {

        @media screen and (max-width: $mediaMobile) {
            font-size: 1.75rem;
            line-height: 2.25rem;
        }
    }
}

.video-slider__swiper {
    .video__slide {
        position: relative;
        text-align: center;
        padding-bottom: 3em;
    
        h3 {
            position: absolute;
            bottom: 25%;
            color: #ffffff;
            margin: 0 3.2em;

            @media screen and (max-width: $mediaMobile) {
                display: none;
            }
        }
    
        p {
            position: absolute;
            bottom: 10%;
            left: 50%;
            transform: translateX(-50%);
            color: #ffffff;
            font-size: 1.375rem;
            line-height: 1.75rem;
            text-align: center;

            @media screen and (max-width: $mediaMobile) {
                display: none;
            }
        }
    
        .slide__img {
            width: 100%;
            height: 100%;
        }
    
        .play-button {
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;

            @media screen and (max-width: $mediaMobile) {
                width: 2.625em;
                height: 2.625em;
            }
        }
    
        &--player {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 100;
        }
    }

    &__pagination {
        @include swiper-pagination;
    }

    .swiper-pagination {

        &-bullet {
            @include swiper-pagination-bullet;
        }
    
        &-bullet-active {
            @include swiper-pagination-bullet-active;
        }
    }
}